body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 60px;
    background-color: rgb(195, 227, 255);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    width : 700px;
    height : 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);


}

.signup-box {
    text-align: center;


}

form {
    text-align: center;

    

    

}

label, input {
    display: block;
    text-align: left;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    
}

.modal {
    background: white;
    padding: 24px 16px;
    border-radius: 4px;
    width: 400px;
    text-align: center;
   
}

.close-container {
    text-align: right;
}

.error{
    font-size : 12px;
    position : fixed;
    margin-top : -20px;


}