nav{
    height: 30px;
}

.navbar-list {
    display: flex;
    justify-content: space-between; /* 항목들을 양쪽 끝으로 정렬합니다. */
    list-style: none;
    padding: 0;
  }

  .mainpage > a{
    color: white; /* 텍스트의 색을 하얀색으로 지정합니다. */
    text-decoration: none;
  }
  
  .mainpage > a:hover {
    font-size: 20px; /* 마우스를 갖다 대었을 때 글자 크기를 키웁니다. */
    cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
  }

  .right-align {
    display: flex;
  }
  
  .right-align > a {
    color: white; /* 텍스트의 색을 하얀색으로 지정합니다. */
    margin-left: 20px; /* 각 링크 사이의 간격을 조절합니다. */
    text-decoration: none; /* 링크 텍스트의 밑줄을 제거합니다. */
  }

  .right-align > a:hover {
  font-size: 20px; /* 마우스를 갖다 대었을 때 글자 크기를 작게 합니다. */
  cursor: pointer; /* 마우스 커서를 포인터로 변경합니다. */
}

.right-align > span{
  color: yellow;
}